@(message: String)


@main("Sensis Project Authentication Service") {

<style type="text/css">
.bodydango 
           {
            margin: 0;
            padding: 0;
            font-family: Arial,Helvetica,sans-serif;
            background: url(@routes.Assets.at("images/background.png")) no-repeat scroll center 211px #DCDCD6;
            color: #666666;
            font-size: 15px;
           }

.wrapperdango 
           {
            width: 670px;
            margin: 0 auto;
            padding-top: 50px;
           }

.contentArea 
           {
            background: #FFFFFF;
            margin: auto;
            padding: 15px;
            line-height: 22.5px;
            height:240px;
           }
           
.footerd 
           {
            position: relative;
            color: #464646;
            font-size: 12px;
            background: #DCDCD6;
            line-height: 18px;
            padding-left: 15px;
            padding-bottom: 15px;
            padding-top: 15px;
           }
           
.logind 
           {
            float: left;
            text-align: right;
            width: 330px;
            background-color: #F6F6F4;
            padding: 15px;
           }

.loginNote 
           {
            float: left;
            width: 280px;
            margin-left: 20px;
           }
           
.termsCon
           {
            color: #6E6E6B; 
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 11px;
            padding-left: 15px;
            background: url(@routes.Assets.at("images/arrowR.png")) no-repeat left 4px;
            height: 21px;
            display: block;
            }
.termscondition{          
            border-top: 1px solid #DCDCD6;
            
padding: 13px 0px 10px 0px;
}

#title{
    border-left: 1px solid #7A6D6D;
    font-size:30px;
    padding-left:15px;
    line-height: 2.01;
}

</style>


<body class="bodydango">
  <div id="wrapper" class="wrapperdango">
    <div id="banner" style="width:640px;height:70px">
    <div style="float:left">
      <a href="http://developers.sensis.com.au" title=""><img border="0" alt="Sensis SAPI" src='@routes.Assets.at("images/slogo.png")' style="height:58px;"></a>
	</div>
  
    <h id="title" >Central Authentication Service</h>
        
    </div>
    
    <div id="Contentarea" class="contentArea">
       <div class="logind">
       <form>
         <div style="margin-bottom:10px">
        
           <div class="textBox" style="width:66%;float:right">
          
           <input  id="UserName" name="usname" type="text" value="" class="form-control input-lg"  />
           </div>
           
              <label style="
    margin-bottom: 0px;
    margin-right: 10px;
    margin-top: 5px;
    font-size:17px;
">Enter ID</label>
         </div>
         
    
    <div class="formRow">
      
      <input id="DeleteAdmin" style="width:66%" class="btn btn-embossed btn-primary" name="Delete User" value="Delete User" type="button" >
   
    </div>
        
  </form>
       </div>
       
       
       <div class="loginNote" role="complementary">
       <h2 style="margin-top:10px;font-size:25px">Note:</h2>
       <p style="font-size:15px">To keep your account secure always close all browser windows at the end of your session.</p>
       <p><a href="http://www.rmit.edu.au/its/password">Password assistance</a></p>
       </div>
     
      
      
    </div>
    
     <div class="termscondition" style="background-color:white;padding-left: 15px;">
       <a class="termsCon"  href="">About login terms and conditions</a>
       </div>
       
    <div id="footer" class="footerd">
    Copyright  2013 RMIT University PT
    </div>
  </div>
    

    
     <script type="text/javascript">
  
   $("#DeleteAdmin").click(function(){
      var us = $("#UserName").val();
     
      $.ajax({
                type: "GET",
                url: "/del",
	            datatype: "JSON",
	            data: {nameu:us}
	            }).done(function(del){
                 
	           // if(datad=="false"){alert("Wrong ID or password!")}
              //  else
                window.location.href="/summary";
	            });
       });
    
     

 </script>
</body>   
 
 

 

 }