/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}
div {
 display:block;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    
    position: fixed;
    top: 10px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  font-family:"Times New Roman", Times, serif;
  font-weight:bold;
  font-size:15px;
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
  font-size:18px;
  margin-bottom: 0;
}
.placeholder {
    font-family:"Times New Roman", Times, serif;
    font-weight:bold;
  font-size:18px;
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

#wrapper {
   padding-left:10px; 
   padding-right:10px;
}

.table-responsive {
   overflow:scroll;
   height:100%px;
   width:300px;
   
}

#page-wrapper {
    width:1259px;
    margin-left:5px; 
    margin-right:5px;
}
.navbar-default.navbar-static-side {
    width:100px;
     margin-left:5px;
     margin-right:5px;
}
.sidebar-collapse {
    width:100px;
     margin-left:5px;
     margin-right:5px;
}
.row {
    width:1250px;
}
